<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//unpkg.com/element-ui@2.15.13/lib/index.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.15.13/lib/theme-chalk/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery1.8.3.min.js"></script>
    <script src="../api/student.js"></script>
    <script src="../js/request.js"></script>
    <script src="../plugins/axios/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
        <el-form ref="dataAddForm" :model="formData" label-position="right" label-width="100px">
            <el-row>

                <el-col :span="12">

                    <el-form-item label="学号" prop="sid">

<!--                        <el-input v-model="formData.sid"/>-->
                                {{formData.sid}}
                    </el-form-item>

                </el-col>
                <el-col :span="12">

                    <el-form-item label="姓名">

                        <el-input v-model="formData.sname" prop="sname"></el-input>

                    </el-form-item>

                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">

                    <el-form-item label="性别" prop="ssex">

                        <el-radio-group v-model="formData.ssex">
                            <el-radio label="男"></el-radio>
                            <el-radio label="女"></el-radio>
                        </el-radio-group>

                    </el-form-item>

                </el-col>

                <el-col :span="12">

                    <el-form-item label="住址">

                        <el-input v-model="formData.saddress" prop="saddress"></el-input>

                    </el-form-item>

                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item label="邮箱">
                        <el-input v-model="formData.smail" prop=="smail"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">

                    <el-form-item label="电话">

                        <el-input v-model="formData.sphone" prop="sphone"></el-input>

                    </el-form-item>

                </el-col>

            </el-row>

            <el-button type="primary" @click="handleEdit()">确定</el-button>

        </el-form>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            FuzzyData: "",
            formData: {},
        },
        created() {
            this.getById()
        },
        computed: {

        },
        methods: {
            async getById() {
                getStudentApi().then((res => {
                    if (res.code === 20041) {
                        this.formData=res.data;
                        this.formData.ssex = res.data.ssex === '1' ? '男' : '女'
                        console.log(this.formData)
                    } else if (res.code === 20040) {
                        this.$message.error("res.msg")
                    }
                }))
            },
            handleEdit() {
                const params = {
                        ...this.formData,
                        ssex: this.formData.ssex === '男' ? '1' : '2'
                }
                updateMeApi(params).then((res) => {
                    console.log(res.data);
                    if (res.code === 20031) {
                        this.$message.success("修改成功");
                    }  else {
                        this.$message.error(res.msg);
                    }
                }).finally(() => {
                    this.getById();
                });
            },
        }

    })

</script>
</html>